body {
    font-family: sans-serif;
    font-size: 20px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    /*fill: #f00; */
    stroke: #000;
}
.titles{
    text-anchor: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.label {
    text-anchor: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.bar{ 
    shape-rendering: crispEdges;
}
/*as you can see I put most of the css styling in the javascript. 
Maybe not the most efficient/clean approach. :) */